name: Nix
on:
  push:
    branches: [main]
    paths:
      - "flake.nix"
      - "flake.lock"
      - "**.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches: [main]
    paths:
      - "flake.nix"
      - "flake.lock"
      - "**.go"
      - "go.mod"
      - "go.sum"
jobs:
  flake-check:
    name: Flake Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Check flake
        run: nix flake check
  build:
    name: Nix Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build package
        run: nix build .#clinvoker
      - name: Test binary
        run: |
          ./result/bin/clinvoker version
          ./result/bin/clinvoker --help
  devshell:
    name: Dev Shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Test dev shell
        run: |
          nix develop --command go version
          nix develop --command go build ./...
          nix develop --command go test ./...
